<%- include('statics/header') -%>

<main>
    <ul class="noListStyle">
        <% for(let item of data) { %>
            <li>
                <ul class="flexBox spaceBetween">
                    <li><%- item.title %></li>
                    <li>
                        <ul class="flexBox spaceBetween">
                            <li>Edit</li>
                            <li>Delete</li>
                        </ul>
                    </li>
                </ul>
            </li>
        <% } %>
    </ul>
</main>

<%- include('statics/footer') -%>